/* Tooltip Buttom*/
.text-hover {
    position: relative;
    display: inline-block;
}
.text-hover .text-hover-content {
    visibility: hidden;
    width: 300px;
    background-color: rgba(255, 255, 255, 0.9);
    color: black;
    text-align: center;
    border-radius: 6px;
    border: 1px solid #2F8E12;
    padding: 5px;
    position: absolute;
    z-index: 1;
    top: 150%;
    left: 50%;
    margin-left: -60px;
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.5);
}
.text-hover .text-hover-content::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #2F8E12 transparent;
}
.text-hover:hover .text-hover-content {
    visibility: visible;
}
.tooltip-headline {
    text-align: center;
}

/* Tooltip Right*/
.tooltip-right {
    position: relative;
    display: inline-block;
}
.tooltip-right .tooltiptext-right {
    visibility: hidden;
    width: 300px;
    background-color: rgba(255, 255, 255, 0.9);
    color: black;
    text-align: center;
    border-radius: 6px;
    border: 1px solid #2F8E12;
    padding: 5px;
    position: absolute;
    z-index: 1;
    top: 10px;
    left: 141%;
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.5);
}
.tooltip-right .tooltiptext-right::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent #2F8E12 transparent transparent;
}
.tooltip-right:hover .tooltiptext-right {
    visibility: visible;
}

/* Tooltip Left*/
.tooltip-left {
    position: relative;
    display: inline-block;
}
.tooltip-left .tooltiptext-left {
    visibility: hidden;
    width: 400px;
    background-color: rgba(255, 255, 255, 0.9);
    color: black;
    text-align: center;
    border-radius: 6px;
    border: 1px solid #2F8E12;
    padding: 5px;
    position: absolute;
    z-index: 1;
    top: -62%;
    right: 105%;
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.5);
}
.tooltip-left .tooltiptext-left::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent #2F8E12;
}
.tooltip-left:hover .tooltiptext-left {
    visibility: visible;
}

/* Sprechbubble Left*/
.speech-left {
    position: relative;
    display: inline-block;
    float: right;
}
.speech-left .speech-bubble-left {
    visibility: hidden;
    width: 200px;
    background-color: rgba(255, 255, 255, 0.9);
    color: black;
    text-align: center;
    border-radius: 6px;
    border: 1px solid;
    padding: 5px;
    position: absolute;
    z-index: 1;
    top: -40px;
    right: 105%;
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.5);
}
.speech-left .speech-bubble-left::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent #2F8E12;
}
.speech-left:hover .speech-bubble-left {
    visibility: visible;
}

/* Sprechbubble Right*/
.speech-right {
    position: relative;
    display: inline-block;
}
.speech-right .speech-bubble-right {
    visibility: hidden;
    width: 200px;
    background-color: rgba(255, 255, 255, 0.9);
    color: black;
    text-align: center;
    border-radius: 6px;
    border: 1px solid;
    padding: 5px;
    position: absolute;
    z-index: 1;
    top: -40px;
    left: 121%;
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.5);
}
.speech-right .speech-bubble-right::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent #2F8E12 transparent transparent;
}
.speech-right:hover .speech-bubble-right {
    visibility: visible;
}

/* Color IDs*/
.used {
    color: #CE3700;
}
#used-border {
    border-color: #CE3700;
}
#used-border-2 {
    border-color: #CE3700;
}
.new {
    color: #7E0509;
}
#new-border {
    border-color: #7E0509;
}
#new-border-2 {
    border-color: #7E0509;
}
.under {
    color: #4CB2D4;
}
#under-border {
    border-color: #4CB2D4;
}
#under-border-2 {
    border-color: #4CB2D4;
}
.over {
    color: #011D70;
}
#over-border {
    border-color: #011D70;
}
#over-border-2 {
    border-color: #011D70;
}
.west {
    color: #F8C919;
}
#west-border {
    border-color: #F8C919
}
#west-border-2 {
    border-color: #F8C919
}
.ost {
    color: #F48300;
}
#ost-border {
    border-color: #F48300;
}
#ost-border-2 {
    border-color: #F48300;
}

/* Allgemeines */
* {
    margin: 0;
    padding: 0;
}
body {
    font-family: Barlow !important;
    height: 100vh;
    line-height: 1.6;
    overflow: hidden;
}
h1 {
    font-weight: bold;
    font-size: 70pt;
    line-height: 70pt;
    color: #2F8E12;
}
h2 {
    padding-top: 15px;
    font-size: 18pt;
}
h3 {
    font-size: 28pt;
    color: #2F8E12;
    font-weight: bold;
}
p {
    font-size: 12pt !important;
}
hr {
    border: 5px solid #2F8E12;
}
strong {
    font-weight: bold;
}
a {
    color: #2F8E12;
}
.container {
    width: 100%;
    height: 100%;
    /* CSS Smooth Scroll */
    overflow-y: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    margin: 0px !important;
    max-width: 100%;
    max-height: 100%;
    padding-left: 0px;
    padding-right: 0px;

}

/* Navigation */
.navigation-box {
    padding-top: 16%;
}
.navigation {
    color: #ffffff;
    list-style-type: none;
}
.circle-white {
    color: #ffffff;
}
.circle-green {
    color: #2F8E12;
}
.fa-circle {
    padding-top: 20px;
}
.navi-active {
    font-size: 20pt;
    margin-left: -5px;
}

.lead {
    font-size: 1.5rem;
}

section {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;

    /* Scroll Snap */
    scroll-snap-align: center;
}

.headline {
    padding-top: 80px;
}

.underline {
    margin-top: -20px;
}

.illu-title-page {
    height: 45%;
    padding-top: 10%;
}

.headline-block {
    padding-left: 29%;
    padding-right: 100px;
    padding-top: 18%;
}

.text-study {
    padding-right: 100px;
}

.charts {
    padding-top: 70px;
}

.description-text {
    padding-top: 20px;
    text-align: center;
}

.circle-yes {
    color: #2F8E12;
}

.circle-no {
    color: #B9B9B9;
}

.legend {
    padding-top: 60px;
    padding-left: 8%;
}

.illu-group {
    height: 529px;
}

.group-lable {
    text-align: center;
    margin-left: -166px;
}

.about-study {
    padding-left: 17%;
    padding-right: 25%;
    padding-top: 12%;
}

.numbers-head {
    padding-left: 8%;
    padding-right: 30%;
}

.numbers-content {
    padding-right: 3%;
    padding-top: 8%;
}

.characters-head {
    padding-right: 12%;
}

.characters-content {
    padding-top: 20px;
}

.navigation {
    margin-left: -55px;
}

.navigation-characters {
    padding-top: 17%;
}

.navigation-footer {
    padding-top: 17%;
}

.climate-headline {
    padding-left: 8%;
}

.climate-content {
    padding-top: 2%
}

.consum-headline {
    padding-left: 8%;
}

.consum-content {
    padding-top: 2%
}

.underline-study {
    width: 170px;
}

.underline-numbers {
    width: 300px;
}

.underline-characters {
    width: 340px;
}

.underline-climate {
    width: 525px;
}

.underline-consum {
    width: 293px;
}

.underline-quellen {
    width: 129px;
}

.underline-impressum {
    width: 195px;
}

.climate-charts-one {
    height: 70%;
}

.icon {
    height: 70px;
}

.icon-left {
    float: right; !important;
}

.chart-headline {
    padding-top: 10px;
    padding-left: 10px;
    text-align: center;
    font-weight: bold;
    line-height: 1.3;
}

.questions-climate {
    padding-left: 19px;
    padding-right: 20px;
}

.questions-consum {
    padding-left: 19px;
    padding-right: 52px;
}

.foot-note {
    padding-top: 190px;
    margin-left: -275px;
}

.highcharts-description {
    text-align: center; !important;
    padding-left: 55px;
}

.subline {
    font-size: 10pt;
}

.footer-down {
    margin-top: 90px;
}

#chartdiv {
    width: 100%;
}

/* Headline Curve */
#secondhand {
    margin-left: -20px;
}
#germany {
    margin-left: -31px;
}
#line-front-page {
    margin-left: -56px;
}
#topic {
    margin-left: -90px;
}
#trash {
    margin-left: -112px;
}

/* Questions */
.question {
    margin-top: 20px;
}
#question-1-1 {
    margin-left: 0px;
}
#question-1-2 {
    margin-left: 14px;
}
#question-1-3 {
    margin-left: 26px;
}
#question-1-4 {
    margin-left: 33px;
}
#question-1-5 {
    margin-left: 40px;
}
#question-1-6 {
    margin-left: 40px;
}
#question-1-7 {
    margin-left: 26px;
}
#question-1-8 {
    margin-left: 18px;
}
#question-1-9 {
    margin-left: 21px;
}
#question-2-1 {
    margin-left: 22px;
}
#question-2-2 {
    margin-left: 34px;
}
#question-2-3 {
    margin-left: 45px;
}
#question-2-4 {
    margin-left: 56px;
}
#question-2-5 {
    margin-left: 53px;
}
#question-2-6 {
    margin-left: 39px;
}
#question-2-7 {
    margin-left: 31px;
}
#aussage-consum {
    margin-left: 12px;
}

/* Section Images */
section#home {
    background: url('assets/background-home-3.png') no-repeat center center/cover;;
}
section#study {
    background: url('assets/background-study-2.png') no-repeat center center/cover;;
}
section#numbers {
    background: url('assets/background-numbers.png') no-repeat center center/cover;;
}
section#characters {
    background: url('assets/background-characters.png') no-repeat center center/cover;;
}
section#climate {
    background: url('assets/background-climate-6.png') no-repeat center center/cover;;
}
section#consum {
    background: url('assets/backgrund-consum-3.png') no-repeat center center/cover;;
}
section#footer {
    background: url('assets/background-footer.png') no-repeat center center/cover;;
}